.detailsPage {
    background: url(./img/Beyond.jpg) black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
}

.detailsContainer {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 600px;
    max-width: 700px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.531);
    border-radius: 10%;
}

.details {
    position: relative;
    margin-top: 15%;
}

.details img{
    height: 200px;
    width: 200px;
}

.detailsName {
    font-size: 1.5em;
    color: #CE2211;
    letter-spacing: .2rem;

  }