.detailsPage {
    background: url(./img/Beyond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
    font-size: 25px;
}

.detailsContainer {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 550px;
    max-width: 700px;
    margin-top: 45px;
    /* margin: 0 auto;; */
    background-color: rgba(0, 0, 0, 0.768);
    border-radius: 10%;
}

.details {
    position: relative;
    margin-top: 5%;
}

.details img{
    height: 200px;
    width: 200px;
}

.detailsName {
    margin-top: 10%;
    font-size: 1.5em;
    color: #CE2211;
    letter-spacing: .2rem;
    margin-bottom: 5%;
}

.detailsId {
    color: #D5A100;
    margin: 5px;
    position:absolute;
    top: -40px;
    right: 40px;
}

.exitSearchAndCreateNav {
    width: 100%;
    position: relative;
    display: flex;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 0px 0px 25px 25px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #EFFCD5;
    font-size: 0.6em;
    letter-spacing: .2rem;
    text-decoration: none;
  }

  .back {
    color: #EFFCD5;
    transition: .3s;
  }
  
  .back:hover {
    color: red;
  }

  .animated-progress {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
  }
  
  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }
  
  .progress-blue span {
    background-color: blue;
  }
  .progress-green span {
    background-color: green;
  }
  .progress-purple span {
    background-color: indigo;
  }
  .progress-red span {
    background-color: red;
  }
  
.progressContainer {
  display: flex;
  color: white;
  margin-left: 30px;
  text-align: center;
}

progress {
  border-radius: 7px; 
  width: 200px;
  height: 12px;
  /* box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); */
  margin: 1px;
  animation: load 3s normal forwards;
  flex-direction: row;
  position: absolute;
  left: 22%;
}

progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.722);
  border-radius: 7px;    
}

progress::-webkit-progress-value {
  background: rgba(255, 255, 255, 0.779);
  border-radius: 7px;
}

progress::-moz-progress-bar {
  box-shadow: 0 10px 40px -10px #fff;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 60%; }
}

.details h3 {
  font-size: .8em;
  color:  #F5F5F5;
  margin: 2px;
}

.details p {
  position: absolute;
  text-align: left;
  left: 590px;
  font-size: .8em;
  color:  #F5F5F5
}

.details h4 {
  font-size: 1.3em;
  margin: 15px;
  color: #DFDFDF;
}

.typesContainer {
  margin-top: 25px;
  font-size: 1em;
  color: yellow;
}