.pokemonCreatePage {
  background: url(./img/Beyond.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
  font-size: 25px;
  color: white;
}

.exitSearchAndCreateNav {
  width: 100%;
  position: relative;
  display: flex;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 0px 0px 25px 25px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #EFFCD5;
  font-size: 0.6em;
  letter-spacing: .2rem;
  text-decoration: none;
}

.back {
  color: #EFFCD5;
  transition: .3s;
}

.back:hover {
  color: red;
}

.pokemonCreateContainer {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 600px;
  max-width: 900px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.92);
  border-radius: 10%;
}

.pokemonCreate {
  margin: 0% 10% 10% 10%;
}

.pokemonCreate h1 {
  color: #CE2211;
  font-size: 2em;
  margin: 50px 0 50px 0;
}

.pokemonCreate form {
  max-height: 350px;
}


.pokemonCreate progress {
  border-radius: 50px; 
  height: 13px;
  animation: load 3s normal forwards;
  flex-direction: row;
  position: absolute;
  left: 35%;
}

.pokemonCreate progress::-webkit-progress-bar {
  background-color: rgba(162, 162, 162, 0.784);
}

.pokemonCreate progress::-webkit-progress-value {
  background: rgba(68, 255, 0, 0.779);
  box-shadow: 0px 0px 15px 0px #e1e1e1;
}

.pokemonCreate progress::-moz-progress-bar {
  box-shadow: 0 10px 40px -10px #fff;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 52%; }
}

.pokemonCreate input {
  width: 60px
}

.pokemonCreate label {
  font-size: .9em;

}

.pokemonCreate .inputContainer {
  display: flex;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}

.pokemonCreate input {
  display: flex;
  position: absolute;
  left: 25%;
  background-color: rgba(255, 228, 196, 0.487);
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bolder;
  width: 80px;
}

.pokemonCreate input:focus{
  font-weight: lighter;
}

.pokemonCreate select {
  display: flex;
  position: absolute;
  left: 25%;
  background-color: rgba(255, 228, 196, 0.487);
  border: 1px solid black;
  border-radius: 2px;
}

.pokemonCreate .inputName {
  width: 200px;
  position: absolute;
  justify-content: center;
  left: 39%;
}

.createButton {
  font-family: 'Press Start 2P', cursive;
  background-color: #00f200;
  color: #EFFCD5;
  border-radius: 5px;
  border: 1px solid rgba(248, 248, 248, 0.259);
  font-size: .8rem;
  padding: 5px;
  height: 25px;
  padding: 5px;
  text-align: center;
  color: black;
  transition: .3s;
  width: 50%;
  margin-top: 100px;
}

.createButton:hover {
  background-color: #006200;
  color: black;
  cursor: pointer;
}

.createButton:active {
  box-shadow: 0px 0px 15px 0px #e1e1e1;
}

.createButton:focus {
  outline: 0;
}

.createButton:disabled {
  background-color: gray;
  color: black;
}

.pokemonCreate .selectTypes {
  font-family: 'Press Start 2P', cursive;
  color: #EFFCD5;
  border-radius: 5px;
  border: 1px solid black;
  font-size: .6rem;
  height: 20px;
  outline: 0px;
  width: 100px;
}

.pokemonCreate .selectTypes  {
  background-color: rgba(4, 2, 2, 0.794);
}

.optionsSelect {
  position: absolute;
  color: black;
}

.typeSelectedContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 38%;
  margin-bottom: 10px;
}

.typeSelectedContainerIn {
  color: black;
  font-size: .7em;
  background-color: #e6bb2fbd;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
  display: inline-flex;
  margin-left: 5px;
  text-align: center;
  justify-content: center;
  width: 120px;
  justify-content: space-between;
}

.typeSelected {
  position:relative;
  display: inline-flex;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}


.xButton {
  border-radius: 10px;
  border: none;
  color: white;
  background-color: black;
  width: 17px;
  height: 17px;
  font-size: .9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemonCreate span {
  position: absolute;
  margin-top: 18px;
  color: red;
  font-size: .5em;
}

.pokemonCreate input::placeholder {
  color: rgba(0, 0, 0, 0.544);
  font-size: .8em;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.pokemonCreate input:focus::placeholder {
  color: transparent;
}

.pokemonCreate input:focus {
  outline: 0;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
  opacity: 1;
}

.pokemonCreate img {
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 10px;
  bottom: 12%;
  left: 42.5%;
}

.pokemonCreate img[src=""] {
  display: none;
}