@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  font-family: 'Press Start 2P', cursive;
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
}
