body {
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7c4954bf-7a87-490e-b188-f8a71f05f703/d9x9e44-4d589326-8d58-47ea-a6c2-4e2abe827b42.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdjNDk1NGJmLTdhODctNDkwZS1iMTg4LWY4YTcxZjA1ZjcwM1wvZDl4OWU0NC00ZDU4OTMyNi04ZDU4LTQ3ZWEtYTZjMi00ZTJhYmU4MjdiNDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.3KCJPUI2ATfwLEXYjFOyIxjRr0x2Y8DFEuIpR6CksPA") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  list-style-type: none;
}

.pagination .number {
  margin: 0 10px 0 10px;
  text-align: center;
  height: auto;
  width: 20px;
  padding: 5px;
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.532);
  color: black;
  font-weight: bolder;
  margin: 0;
  transition: .3s;
}

.pagination .number:hover {
  background-color: red;
  cursor: pointer;
}

