body {
  background: url(../../images/background/Beyond.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100%;
  min-width: 100vh;
  font-size: 25px;
  height: 100%;
  margin: 0 auto;
  text-transform: none;
  text-decoration: inherit;
  color: #EFFCD5;
}

.home {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.46);
}


/* CARDS */
.cardsContainer {
  /* grid-template-columns: repeat(6, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px; 
  max-width: 1500px;
  margin: 0 auto;
  border-radius: 50px;
  height: 80vh;
  justify-content: center;
  align-content: center;

}

/* CARDS END */

/*  NAVBAR */
.exitSearchAndCreateNav {
  width: 100%;
  position: relative;
  display: flex;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 0px 0px 25px 25px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #EFFCD5;
  font-size: 0.6em;
  letter-spacing: .2rem;
  text-decoration: none;
}

.exit {
  color: #EFFCD5;
  transition: .3s;
}

.exit:hover {
  color: #CE2211;
}

.create {
  color: #EFFCD5;
  transition: .5s;
}

.create:hover {
  color: #CE2211;
}

.exitContainer{
  position: absolute;
  left: 10%;
}

.searchBarContainer {
  position: absolute;
}

.createContainer {
  position: absolute;
  right: 10%;
}

/* END NAVBAR */


/* FILTERS */
.filtersAndRefresh {
  width: 660px;
  height: 30px;
  margin: 10px auto;
  align-items: center;
  display: flex;
}

.refreshButton {
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(79, 78, 78, 0.184);
  color: #EFFCD5;
  border-radius: 0 15px 15px 0;
  border: 1px solid black;
  font-size: .4rem;
  padding: 5px;
  height: 25px;
  padding: 5px;
  width: 150px;
  text-align: center;
  transition: .3s;
}

.refreshButton:hover {
  color: black;
  background-color: #CE2211;
  cursor: pointer;
}

.refreshButton:active {
  box-shadow: 0px 0px 25px 0px #e1e1e1;
}

.refreshButton:focus {
  outline: 0;
}

.filter {
  height: 25px;
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(0, 0, 0, 0.277);
  color: #EFFCD5;
  border-radius: 0;
  border: 1px solid black;
  font-size: .6rem;
  padding: 5px;
  outline: 0px;
  width: 100px;
}

.filter:focus {
  background-color: rgba(4, 2, 2, 0.794);
}

.filterBy {
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(0, 0, 0, 0.277);
  color: #EFFCD5;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  /* font-size: .45rem; */
  position: static;
  font-size: .45rem;
  padding: 5px;
  height: 25px;
  width: 140px;
  text-align: center;
}

.flechita {
  color: #ffcc00;
  position: relative;
  float: right;
}

.filter:hover {
  cursor: pointer;
}

/* END FILTERS */


.home .optionsSelect {
  position: absolute;
  color: black;
  background-color: #e1e1e1;
}

/* PAGINATION */
.pagination {
  bottom: 10px;
  width: 100%;
}
/* END PAGINATION */

/* RESPONSIVE */
@media only screen and (max-width: 1300px) {
  .cardsContainer {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: auto;
  width: 100vh;
  }
}

@media only screen and (max-width: 700px) {
  .exitSearchAndCreateNav {
    height: 40px;
  }
  .createContainer {
    font-size: 0.3em;
  }
  .exitContainer {
    font-size: 0.3em;
  }
}

/* RESPONSIVE */