.home {
    margin: 0;
    padding: 0;
    background: url(./4508862.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
  }

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}