body {
  font-size: 25px;
  height: 100%;
  margin: 0;
  text-transform: none;
  text-decoration: inherit;
  color: white;
}

.home {
    margin: 0;
    padding: 0;
    background: url(./2.jpg) black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
  }

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  position: relative;
}

.exitSearchAndCreateNav {
  position: relative;
  display: flex;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.656);
  border-radius: 0px 0px 30px 30px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size: 0.5em;
  text-decoration: none;
}

.exit {
  color: white;
  transition: .3s;
}

.exit:hover {
  color: red;
}

.create {
  color: white;
  transition: .3s;

}

.create:hover {
  color: red;
}