body {
  font-size: 25px;
  height: 100%;
  margin: 0;
  text-transform: none;
  text-decoration: inherit;
  color: white;
}

.home {
    margin: 0;
    padding: 0;
    background: url(./ash.jpg) black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
  }

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  position: relative;
}

.createAndSearch {
  position: relative;
  display: flex;
  padding: 0 10px 0 10px;;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.529);
  align-items: center;
  justify-content:space-evenly;
  text-align: center;
  color: white;
}

.filtersAndRefresh {
  justify-content: center;
  position: relative;
  display: flex;
  margin: 0;
  padding: 10px;
  text-align: center;
}