.card {
  position: relative;
  overflow: hidden;
  height: 260px;
  width: 210px;
  background-color: rgba(0, 0, 0, 0.799);
  box-shadow: 0 0 .9rem rgb(0, 0, 0);
  border-radius: 40px;
  opacity: 1;
  transition: .5s;
  margin: 5px;
}

.cardContainer {
  margin: 20px auto;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .5;
}

.card:hover {
  filter: brightness(125%);
  box-shadow: 0 0 10px 1px aqua;    
  transform: scale(1.075);
}

.cardName {
  font-size: .55em;
  color: aqua;
  filter: brightness(150%);
  text-shadow: 3px 3px 3px #000000;
  letter-spacing: .2rem;
  margin-bottom: 5px;
}

.cardTypes {
  font-size: .4em;
  color: #EFFCD5;
  letter-spacing: .2rem;
  margin-top: 5px;
}

.cardImg {
  margin-top: 5px;
  width: 150px;
  height: 150px;
  border-radius: 30px;
}

.card .typesContainer img {
  margin: 5px;
  height: 30px;
  width: 30px;
}

.cardTypesContainer {
  color: white;
  font-size: .5em;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.typesContainer {
  margin: 5px;

}

  