.card {
    border: 0px solid aqua;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 200px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.606);
    opacity: 1;
    transition: .3s;
    font-size: 15px;
   }

   .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .5;
  }

  .card:hover {
    filter: brightness(125%);
    background-color: rgb(185, 0, 0);
    transform: scale(1.1);

  }
