.notFound{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notFound img {
    margin-right: 15%;
    margin-top: 17%;
    width: 400px;
    height: auto;
}

.notFound h1 {
    color: whitesmoke;
    font-size: 1.2em;
}