.notFoundContainer {
    background-color: red;
    height: 100%;
    width: 500px;
    /* position: absolute; */
}

.notFound{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    border-radius: 50px;
}

.notFound img {
    margin-right: 15%;
    margin-top: 17%;
    width: 400px;
    height: auto;
}

.notFound h1 {
    color: whitesmoke;
    font-size: 1.2em;
}