.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    list-style-type: none;
    width: 100px;
    margin: 0 auto;
    border-radius: 10px;
    height: 20px;
  }
  
  .paginationNumber {
    justify-content: space-between;
    font-size: 0.4em;
    text-align: center;
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: red;
    opacity: .7;
    color: black;
    transition: .3s;
  }
  
  .paginationContainer li:hover {
    background-color: white;
    cursor: pointer;
  }

  .paginationNumber:active {
    box-shadow: 0px 0px 25px 0px #e1e1e1;
  }
  
  