.paginationUlContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    list-style-type: none;
    width: 100px;
    margin: 5px auto;
    border-radius: 10px;
    position: relative;
  }
  
  .paginationNumber {
    justify-content: space-between;
    font-size: 0.35em;
    text-align: center;
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 1px solid #0A285F;
    background-color: #ffcc00;
    color: black;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .paginationContainer li:hover {
    background-color: white;
    cursor: pointer;
  }

  .paginationNumber:active {
    box-shadow: 0px 0px 25px 0px #e1e1e1;
  }
  
  