.paginationUlContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 200px;
  margin: 0 auto;
  bottom: 13px;
  position: relative;
  /* background-color: red; */
  bottom: 5px;
  filter: brightness(90%)
 }
  
.paginationContainer li:hover {
  cursor: pointer;
}

.desactiveNumber {
  background-image: url('./icons/pokeClosed48.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  color: transparent;
  padding: 0;
  font-size: 0.35em;
  text-align: center;
  transition: .5s;
  cursor: pointer;
}


.activeNumber {
  background-image: url('./icons/pokeOpen48.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 35px;
  width: 35px;
  padding: 0;
  color: transparent;
  font-size: 0.35em;
  transition: .5s;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}

.desactiveNumber h1{
  position: relative;
  padding: 2px;
  border-radius: 100%;
  height: 5px;
  width: 5px;
  left: 13px;
  top: 4.4px;
  transition: .5s;
}

.desactiveNumber:hover > h1{
  position: relative;
  background-color: aqua;
  padding:2px;
  border-radius: 100%;
  height: 5px;
  width: 5px;
  left: 13px;
  top: 4.4px;
  box-shadow: 0 0 1px 1px aqua;
  transition: .5s;
  filter: blur(1px)
}

.paginationUlContainer button {
  margin: 0 0px 0 0px;
  border-radius: 100%;
  font-weight: bolder;
  justify-content: space-between;
  text-align: center;
  color: transparent;
  border: none;
  transition: .5s;
  cursor: pointer;
}

.paginationUlContainer button:disabled {
  background-image: none;
  margin: 0 0px 0 0px;
  border-radius: 100%;
  justify-content: space-between;
  text-align: center;
  padding: 0px;
  color: transparent;
  transition: .5s;
  cursor:default;
  background-color: transparent;
}

.prev {
  background-image: url('./icons/prevIcon.png');
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;

}

.right {
  background-image: url('./icons/nextIcon.png');
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
}

.right:active {
  transform: scale(1.5);
}
.prev:active {
  transform: scale(1.5);
}

