.landingPage {
    background: url(./img/pokeLandingImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    border-style: none;
    filter: brightness(80%);
}

.welcome {
    position: absolute;
    top: 49.8%;
    left: 49.8%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.enterButton {
    color: transparent;
    padding: 11px;
    transition: 1.5s;
    border: none;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 15px #00ffff;
    filter: blur(30px) brightness(2) ;
    animation: mymove 1s ease infinite;
}

@keyframes mymove {
    from {
        transform: translate(-50%, -50%) scale(1)
    }

    to {
        transform: translate(-50%, -50%) scale(.75);
    }
    
    to {
        transform: translate(-50%, -50%) scale(.5);
    }
}

.enterButton:hover{
    background-color: #00ffff;
    filter: blur(20px);
    box-shadow: 0px 0px 75px 60px #00ffff;
    cursor: pointer;
    animation: none;
}

.enter {
    font-size: .25em;
    color: rgb(0, 0, 0);
    opacity: .5;
    position: absolute;
    display: flex;
    z-index: 1;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 29%;
    font-weight: 400;
    pointer-events: none;
}

.welcomeText {
    font-size: 1.5em;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(0, 0, 0, 0.809);
}

@media only screen and (max-width: 768px) {
    body {
        position: fixed; 
        top: 0; 
        left: 0; 
      
        min-width: 100%;
        min-height: 100%;
      
    }
    .landingPage {
        position: absolute;
        background: url(./img/pokeLandingImg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
    .welcomeText {
        font-size: 1em;
        position: relative;
        top: 18%;
        left: 50%;
        transform: translate(-50%, 0);
        color: rgba(0, 0, 0, 0.809);
    }
    .welcome, .enterButton {
        position: relative;
        top: 49.8%;
        left: 49.8%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

