body {
    background: url(./charmanderGif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-style: none;
}

.welcome {
    position: absolute;
    top: 60%;
    left: 75%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.enter {
    color: transparent;
    padding: 15px;
    transition: 1s;
    border: none;
    position: absolute;
    display: flex;
    top: 52.5%;
    left: 29.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 5px #00ffff;
    filter: blur(20px) brightness(200%);
    animation: mymove 1s ease infinite;

}

@keyframes mymove {
    from {
        transform: translate(-50%, -50%) scale(1)
    }

    to {
        transform: translate(-50%, -50%) scale(.75);
    }
    
    to {
        transform: translate(-50%, -50%) scale(.5);
    }
}

.enter:hover {
    background-color: #00ffff;
    filter: blur(15px);
    box-shadow: 0px 3px 25px 20px #00ffff;
    cursor: pointer;
    animation: none;

}

h1 {
    font-size: 9px;
    color: rgb(0, 0, 0);
    position: absolute;
    display: flex;
    z-index: 1;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 52.5%;
    left: 29%;
    z-index: 0;
    font-family: 'Rubik Glitch', cursive;;
    font-weight: 200;
}


.image {
    background: url(./pokeBall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    display: flex;
    width: 250px;
    height: 250px; 
    filter: contrast(125%);
    opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: cover;
        background-attachment: fixed;

    }

    .image {
        width: 200px;
        height: 200px;
    }
}