.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    color: #DFDFDF;
}

.loading img {
    margin-top: 25%;
    width: 250px;
    height: auto;
}

.loading h1 {
    color: whitesmoke;
    font-size: 1.2em;

}