.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: appear;
    animation-duration: 1s;
}

.loading img {
    width: 275px;
    height: auto;
}

.loading h1 {
    color: whitesmoke;
    font-size: 1.2em;

}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }